body,
html {
  margin: 0;
  color: aqua;
}

section {
  display: flex;
  background-color: black;
}

.stats {
  font-size: 20px;
  margin-left: 50px;
}

.timer,
#playerAlive {
  text-shadow: 0 0 10px aqua;
}

.timer {
  margin-left: 150px;
}

#playerAlive {
  margin-top: 20px;
  margin-left: 140px;
}

.classement {
  border: 2px solid aqua;
  border-radius: 15px;
  margin-left: 20px;
  box-shadow: 0 0 10px aqua;
  flex-direction: column;
  width: 100%;
  width: 500px;
  position: fixed;
}

h2 {
  text-align: center;
  text-decoration: underline;
}

ul {
  list-style: none;
  margin-right: 10px;
  margin-left: -20px;
  margin-top: -15px;
}
li {
  width: 100%;
}
