body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: aqua;
}

canvas {
  display: block;
}

section {
  display: flex;
  background-color: black;
}

.stats {
  position: absolute;
  top: 230px;
  right: 0px;
  text-align: center;
  font-size: 25px;
}

.timer,
#playerAlive {
  text-shadow: 0 0 10px aqua;
}

#playerAlive {
  margin-top: 20px;
}
