body,
html {
  margin: 0;
  overflow: hidden;
  color: aqua;
}

canvas {
  display: block;
}

section {
  display: flex;
  background-color: black;
}

.stats {
  position: absolute;
  top: 20px;
  right: -50px;
  text-align: center;
  font-size: 22px;
}

.timer,
#playerAlive {
  text-shadow: 0 0 10px aqua;
}

#playerAlive {
  margin-top: 20px;
}

.classement {
  border: 2px solid aqua;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 0 10px aqua;
}

ul {
  list-style: none;
  padding-right: 50px;
}
li {
  margin-bottom: 10px;
}
