body {
  font-size: 2rem;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: white;
}

.container {
  margin: 0 auto;
}

.portal {
  text-transform: capitalize;
  color: white;
  text-shadow: 0 0 10px rgb(255, 242, 0), 0 0 20px rgb(255, 242, 0),
    0 0 30px rgb(255, 242, 0), 0 0 40px rgb(255, 242, 0);
}

form {
  margin-top: 120px;
}

input {
  margin-top: 10px;
  width: 220px;
  height: 35px;
  border: 2px solid white;
  background-color: black;
  color: white;
  font-size: 25px;
  border-radius: 10px;
  outline: none;
}

input:hover {
  border: 2px solid aqua;
}

input:focus {
  box-shadow: 0 0 10px aqua;
  border: 2px solid aqua;
}

label {
  display: flex;
  justify-content: center;
}

.pseudo {
  border: 2px;
  color: aqua;
  text-shadow: 0 0 10px aqua;
}

label {
  margin-top: 40px;
  text-decoration: none;
  color: aqua;
  text-shadow: 0 0 10px aqua;
  text-transform: capitalize;
}

button {
  display: flex;
  margin: 20px auto;
  border: 2px solid white;
  text-transform: capitalize;
  background-color: rgb(238, 229, 229);
  color: black;
  border-radius: 20px;
  font-size: 30px;
  padding: 12px 45px 12px 45px;
  margin-top: 40px;
  cursor: pointer;
}

button:hover {
  transition: 0.25s;
  padding: 12px 47px 12px 47px;
  border: 2px solid black;
  box-shadow: 0 0 10px rgb(255, 145, 1), 0 0 20px rgb(255, 145, 1),
    0 0 30px rgb(255, 145, 1);
  font-size: 33px;
}
